body{
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin: auto;
    color: #22093a;
    background-color: #f8f2f9;
    margin-bottom: 70px;
    font-size:small;
}


h1{
    background-color: #e6b4c7;
    color: #2a0e45;
    text-align: center;
    font-size: 24px;
    margin-bottom: 0;
   

}

h2{
    color:#2a0e45;
    background-color:#7579c82e;
    font-size: 15px;
    border-bottom: 1px solid;
    padding: 3px;
    margin-top: 15px;
    margin-bottom: 5px;

}

ul{
    padding-left: 15px;
}
li{
    list-style-position: inside;
}

.titulo{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:smaller
  
}

.titulo2{
    margin-top: 0;
    background-color: #e6b4c725;
}
a{
    text-decoration:none;

}

a:hover{
    text-decoration: underline;
}

.menu{
   
    text-align: center;
}

.menu li{
    list-style-type: none;
    display: inline-block;
    padding: 0px;
    

}

.menu a{
    background-color:#7579c82e;
    padding: 10px;
    display: block;
}

.menu a:hover{
    background-color: #eed4de;
    color: #fff;
    text-decoration: none;
}

